* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

a,  a:visited {
    text-decoration: none;
}

section {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}

.main {
    filter: drop-shadow(0px 0px 0px black);
    background: no-repeat center / contain url('../src/mainBg.png') ;
    background-size: cover;
    height: 700px;
    color: #fff;
    text-align: center;
}

.main__header {
    position: absolute;
    width: 100%;
    height: 62px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 24px 0;
    padding: 0px 54px;
}

.main__button {
    font-size: 14px;
    color: #fff;
    background: none;
    border: none;
    padding: 7px 15px ;
    font-weight: bold;
}

.main__button:last-child {
    border: 2px solid #fff;
    border-radius: 30px;
}

.main__logo {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1px;
}

.main__logo-text {
    padding: 4px 0 0 0;
    font-size: 20px;
    letter-spacing: 0.5px;
}

.main__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-bottom: 10px;
    word-spacing: 2px;
    letter-spacing: -1px;
    padding-bottom: 14px;
}

.main__title {
    margin-bottom: 20px;
}

.main__title-text {
    font-size: 52px;
    max-width: 600px;
    line-height: 62px;
    text-transform: uppercase;
    font-weight: bold;
    padding-bottom: 4px;
}

.main__subtitle {
    margin-bottom: 35px;
}

.main__subtitle-text {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 0px;
}

.main__find-partner {
    padding-bottom: 7px;
}

.main__find-button {
    font-size: 14px;
    padding: 11px 21px;
    border-radius: 24px;
    border: none;
    letter-spacing: 0px;
    word-spacing: -1px;
    font-weight: bold;
    background-color: rgb(255, 78, 80);
    color: #fff;
}

.how-it-works__title, .activities__title  {
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin: 94px 0 34px;
}

.how-it-works {
    max-width: 960px;
}

.how-it-works__steps {
    display: flex;
    justify-content: center;
    background: 300px;
}

.how-it-works__step {
    border-radius: 5px;
    width: 302px;
    height: 400px;
    background-size: cover;
    color: #fff;
    margin: 0 10px;
}

.how-it-works__step-wrapper {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    text-align: left;
    padding: 20px;
    background: rgba(0,0,0,0.3);
    border-radius: 5px;
}

.how-it-works__step-number {
    text-align: left;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 3.5px;
    background-color: rgb(255, 78, 80);
    padding: 4px 10px;
    border-radius: 40px;
    margin-bottom: 15px;
}

.how-it-works__step-title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold;
}

.how-it-works__step-subtitle {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: rgba(204, 204, 204, 0.905);
    font-size: 14px;
}

.how-it-works__step:nth-child(1) {
    background:no-repeat center / contain url(../src/step1Bg.png);
    background-size: cover;
}

.how-it-works__step:nth-child(2) {
    background:no-repeat center / contain url(../src/step2Bg.png);
    background-size: cover;
}

.how-it-works__step:nth-child(3) {
    background:no-repeat center / contain url(../src/step3Bg.png);
    background-size: cover;
}

.partners__title {
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin: 94px 0 0;
}

.partners__items {
    display: flex;
    justify-content: center;
    margin: 34px 0 36px;
}

.partners__item {
    width: 242px;
    background-size: cover;
}

.partners__image-container {
    margin-bottom: 13px;
    position: relative;
}

.partners__image-container::after {
    position: absolute;
    top: 84%;
    left: 69%;
    transform: translate(-50%,-50%);
    content: '';
    width: 40px;
    height: 40px;
}

.partner1::after {
    background-image: url('../src/partnerIcon1.png');
}

.partner2::after {
    background-image: url('../src/partnerIcon2.png');
}

.partner3::after {
    background-image: url('../src/partnerIcon3.png');
}

.partner4::after {
    background-image: url('../src/partnerIcon4.png');
}

.partners__name {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 13px;
}

.partners__subtitle {
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: rgba(133, 133, 133);
    max-width: 200px;
}

.partners__button {
    border: 2px solid rgb(255, 78, 80);
    border-radius: 30px;
    padding: 10px 29px;
    border-radius: 24px;
    font-weight: bold;
    color: rgb(255, 78, 80);
}

.activities__collage {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.activities__row {
    display: flex;
    justify-content: space-between;
    height: 310px;
    width: 940px;
    margin-bottom: 20px;
}

.activities__card {
    width: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

.card1 {
    background: no-repeat center / contain url('../src/card1.png') ;
    background-size: cover;
    margin-right: 20px;
}

.card2 {
    background: no-repeat center / contain url('../src/card2.png') ;
    background-size: cover;
    margin-right: 20px;
}

.card3 {
    background: no-repeat center / contain url('../src/card3.png') ;
    background-size: cover;
}

.card4 {
    background: no-repeat center / contain url('../src/card4.png') ;
    background-size: cover;
    width: 300px;
    margin-right: 20px;
}

.card5 {
    background: no-repeat center / contain url('../src/card5.png') ;
    background-size: cover;
    flex: 2;
}

.card6 {
    background: no-repeat center / contain url('../src/card6.png') ;
    background-size: cover;
    flex: 2;
    margin-right: 20px;
}

.card7 {
    background: no-repeat center / contain url('../src/card7.png') ;
    background-size: cover;
    width: 300px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.form__title {
    font-size: 22px;
    font-weight: bold;
    width: 100%;
    margin: 76px 0 32px;
}

.form__subtitle {
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 37px;
}

.form__input {
    font-size: 14px;
    width: 240px;
    height: 40px;
    padding: 14px ;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-right: 5px;
}

.form__button {
    font-size: 14px;
    padding: 10px 14px;
    border-radius: 24px;
    border: none;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: rgb(255, 78, 80);
    color: #fff;
}

.footer__hr {
    content: '';
    display: block;
    width: 100vw;
    height: 4px;
    background-color: rgb(255, 78, 80);
    margin-bottom:36px;
}

.footer__wrapper {
    display: flex;
    justify-content: center;
}

.footer__logo {
    margin-left: 160px;
}

.footer__logo-text {
    color: rgb(255, 78, 80);
    font-weight: bold;
    font-size:14px;
    text-transform: uppercase;
}

.footer__links {
    list-style: none;
    margin-left: 120px;
    padding-bottom: 10px ;
}

.footer__list-title {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

.footer__links-item {
    margin-bottom: 4px;
}

.footer__partners {
    margin-left: 189px;
}

.footer__partners-text {
    font-size: 14px;
}

.footer__icon {
    text-align: right;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: rgb(204, 204, 204);
    margin-right: 148px;
    margin-left: 269px;
}

.footer__icon-text {
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: bold;
}
